/*TODO: style text and images*/

/*div {
	box-sizing: border-box;
	border: 1px solid black;
}*/
/*
font-family: 'Marcellus SC', serif;
font-family: 'Cinzel Decorative', cursive;
*/

body {
	background: url("../images/bg.jpg") center center fixed;
	color: #fff;
}

h1, h3 {
	text-shadow: 1px 1px 20px black, 0 0 2em #dcffff, 0 0 0.2em black;
	
}

h3 {
	text-align: center;
	font-family: 'Marcellus SC', serif;
}

img {
	border: 5px solid rgba(220, 255, 255, 0.2);

}

.head {
	padding: 10px 0;
	text-align: center;
	font-family: 'Cinzel Decorative', serif;
	font-weight: 700;
}

.character-init {
	margin: 0 auto;
	display: inline-block;
	margin: 20px;
	text-align: center;

}

.char-img {
	width: 150px;
	margin: 10px 10px 0px 10px;
	text-align: center;

}

.char-name {
	display: block;
	font-size: 18px;
	text-shadow: 1px 1px 20px black, 0 0 2em #dcffff, 0 0 0.2em black;
	padding-bottom: 5px;
	font-family: 'Marcellus SC', serif;
}

.char-hp {
	font-family: 'Roboto Mono', monospace;
}

#player-character, #defender-div {
	padding-top: 10px;
	font-family: 'Cinzel Decorative', cursive;
}

#player-character .char-img, #defender-div .char-img {
	width: 200px;
}

#characters-initial, #opponents,  #game-text, #attack, #restart, #player-character, #defender-div {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.opponent {
	text-align: center;
	display: inline-block;
	margin: 10px;
}

#fight-row, #opponents {
	display: none;
}

#fight-row {
	background: rgba(50, 50, 50, 0.5);
	padding-top: 10px;
}

#game-text {
	height: 100%;
	padding: 20% 0;
	font-family: 'Roboto Mono', serif;
}

#attack {
	margin-bottom: 20px;

}

.btn-danger{
	border-radius: 0;
	font-family: 'Marcellus SC',sans-serif;
}


@media screen and (max-width: 768px) {
	h1 {
		text-align: center;
	}

	.char-img {
		width: 100px;
	}

	#player-character, #defender-div {
		padding: 0px 20px;
		float: none;
		margin: auto;
	}

	#player-container, #defender-container {
		padding: 20px;
	}

	#player-character .char-img , #defender-div .char-img{
		width: 150px;
	}

	#game-text {
		padding: 0;
	}


}